.account{
    background-color:#E5E5E5;
    min-height: 770px;
}
.login-bg-color{
    min-height: 760Px;;
    background-color: white;
}
.login-form{
    background-color:  #FFFFFF;;
    border:1px solid #ABABAB;
    border-radius:5px;
    margin-left:30%;
    margin-top:5%;
    width: 40%;
}
.login-form input{
    width:90%;
    border:none;
    border-bottom: 1px solid #ABABAB;
}
.btn-width{
    width:95%;
}
